html, body {
  margin: 300;
  padding: 300;
}

canvas {
  display: block;
}

.normalFont{
  font-family: 'Merriweather', serif;
  font-size:19pt;
  line-height:32px;
  font-style:regular;
  color:#37393c;
}

.clickedFont{
  font-family: 'Merriweather', serif;
  font-size:19pt;
  line-height:32px;
  color:grey;
}
